*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    height:100vh;
    background: linear-gradient(135deg,#5b21b6,#7c3aed,#9333ea);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.container{
    width:380px;
    padding:35px;
    border-radius:18px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(14px);
    border:1px solid rgba(255,255,255,0.2);
    text-align:center;
}

h1{
    margin-bottom:20px;
    font-size:28px;
}

input, select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:none;
    outline:none;
}

button{
    width:100%;
    padding:12px;
    margin-top:12px;
    border:none;
    border-radius:25px;
    background:white;
    color:#5b21b6;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#e5e7eb;
}