name: Build & Push Docker Image

on:
  push:
    branches:
      - "**"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Image
        uses: docker/build-push-action@v5
        with:
          context: C:\Users\Victor\Desktop\FUND_FLOW\FundFlow\backend\Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/fundflow-backend:latest

          #